<table width="600">
    <tbody>
        <tr> 
            <td>
                <img src="" height="40" width="600" class="CToWUd">
            </td>
        </tr>   
        <tr>  
            <td style="padding:20px">
                <p><?php echo $username?>. <?php echo __('Thanks for signing.'); ?></p>
                <p><?php echo __('To complete the process. follow this');?>  <a href="http://ibopfactual.com/2.0/Register/token/<?php echo $id . '/' . $token?>"><?php echo __('link');?></a></p>
            </td>
	</tr>
    </tbody>
</table>