<?php if( count($thisBanner) > 0 ){ ?>
    <div class="col-lg-12">
         <hr>
        <center>                
        <?php if( ( $thisBanner['Banner']['content'] == null ) ){ ?>
            <?php if( ($thisBanner['Banner']['date'] <= date('Y-m-d') && $thisBanner['Banner']['end_date'] >= date('Y-m-d')  ) ){  ?>                
                <a href="<?php echo $thisBanner['Banner']['link']?>">
                    <img src="<?php echo $this->Html->url('/files/banners/' . $thisBanner['Banner']['img']); ?>" class="img-responsive"> 
                </a> 
            <?php }?>
        <?php } else { ?>
                <?php echo $thisBanner['Banner']['content']?>
        <?php } ?>
        </center>
        <hr>
    </div>
<?php }
