<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><?php echo __('Error!');?></strong><br> <?php echo __('username or password are invalid'); ?>
</div>