<br>
<div class="col-md-12">
    <div class="alert alert-success">
        <strong>
            <span class="glyphicon glyphicon-send"></span> 
            <?php echo $message; ?>
        </strong>
    </div>	  
</div>