@charset "utf-8";
/* CSS Document */



body, .h1, .h2, .h3, .h4, .h5, .h6 p, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', serif !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.h1{	color: #0d5146;
}

a:hover{
    text-decoration: none;
    color: #FF951C;
}

.mainmenu-item {
    padding: 0px;
    margin: 0px;
    margin-left: 1em;
    font-size: 18px;
    font-weight: 100;
    
}


.mainmenu-item img{
    height: 3.5em;
}
/* Side menú */
.mainmenu-item-mobile{
    display: block;
    float: left;
    width: 30%;
    height: 40%;
    text-align: center;
}
/* Side menú */


.menu_logo{
    width: 9em;
    display: inline;

}

.burger_menu{
    background-image: url(../img/ibop_logo.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    height: 44px;
}

.icon-bar{
    background-color: #eee;
    
    font-size: 150%;
    font-weight: 500;
}

.img-logo{
    margin-left:auto; 
    margin-right: auto;
}

.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    position: static;
    margin-bottom: 0px;
}

.nav-search {
    
   margin-top: 0.8em;
}
.nav-search a{
    color: #CCC;
  }
.nav-search a:hover{
    color: #1668A4;
  }
  
  .search-person-form{
      margin: 2.5em 0em;
  }
  
.row-menutop{
    background-color:#1668A4;
   
}

.active-menu{
    background: #fff !important;   
    
}

.active-menu a{
    color: #333 !important;
}

.navbar img.img-responsive{
    clear: right;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: #666;
    border-right-color: #666;
    border-bottom-color: #666;
    border-left-color: #666;
}

.menu_top_bar{
    
}
.menu_logo_404 {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    display: block;

}

.navbar .fa{
    font-size: 0.7em;
}
.navbar .glyphicon{
    font-size: 0.7em;
}

.menu-top{
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
  
}	
@media (max-width:1024px){
   
    .mainmenu-item{
    margin-left: -0.5em;
    font-size: 16px;
    
}
.navbar-nav>li>a{
    padding-left: 5px;
}
}
@media (max-width:768px){
    .menu-top{
    margin-top:0em;
    text-align: right;
} 
    .mainmenu-item{
    margin-left: 0em;
    font-size: 14px;
    
}
}
.search-div-mobile{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.menu-top a{
    color: #fff;
}	
.menu-top a:hover{
   
   background-color: transparent !important; 
}

.nav>li>a{
    border-radius: 0px;
}


.btn-doni{
    color: #ccc;
    cursor: pointer;
    padding: 1em 2em 0em 0em;
}

.btn-doni:hover {
    color: #6AA5C8;
}


.menu-top a:active{
    
    background-color: transparent !important;
}
.fa-75-x {
    font-size:0.75em;
}
.fa-50-x{
    font-size:0.50em;
}



/**
  MEDIA QUERIES Carousel
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
        display: none;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 0px;
        width: 15px;
        height: 15px;
    }
}



/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */




/*
.carousel-inner{
    height: auto;
}	

.carousel-inner .h1{
    text-shadow: 2px 2px 5px #999;
}	

.carousel-inner .item{
    width: 100%;	
}	


/* for search boxes */	
/*
.search-div{
    
    margin-bottom: 0.5em;
    padding-top: 0em;
    padding-right: 3em;
    padding-bottom: 0em;
    padding-left: 3em;
}

@media (max-width:768px){
   .search-div{
    padding-right: 0em;
    padding-left: 0em;
}
}
    .search-div h1{
    color: #0d5146;
    text-shadow: 2px 2px 5px #999;
    font-variant: small-caps;
}	

.btn-block {
    line-height: 2.5em;	
}		
.search-button{	
    cursor: pointer;
    margin-bottom: 0.5em;

}

.search-button .btn{
    font-size: 2em;
    margin-top: 0.2em;
}	



@media (max-width: 1200px) {
  .search-lightbox {
    margin-top: 5em;
    
  }  
  .search-lightbox h2{
    
    font-size: 1em;
  }

}
  
@media (min-width: 1200px) {
  .search-lightbox {
    margin-top: 15em;
  }  

}
*/
.img-search{
    max-height: 5.5em;
} 
.career_detail{
    color:#666666;
    font-style: italic;
    font-size: 80%;
}

/*fighters*/		

.fighters-row{
    padding: 0em;
    color: #999;
}
.fighters-column{
    border: thin solid #CCC;
    background-image: url(../images/navy_blue.png);
    background-repeat: repeat;
}
.fighters-cell{
    height: auto;
    padding-top: 0.5em;
    padding-right: 0px;
    padding-bottom: 0.5em;
    padding-left: 0px;
    border: thin solid #333;
}	

.fighters-cell p{
    margin-bottom: 0px;	
}	

.fighters-cell .h3{
    line-height: 1.5em;
}		

.fighters-row hr{
    width: 200px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #666666;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fighters-details .nav{
       background-color: #FFF;
}
.won {
      color:#2d6324;

}
.lost {
    color:#a00;
}
.draw {
    color:#0069D6;
}



/* events */

.center{
  text-align: center;
}

.fighter_cell{
   align: center;
   
}

.events-cell .nav{
    background-color: #FFF;
}		

.event_img{
    max-width: 6em;
    float: left;
    display: inline-block;
    margin: 10px;
    height:auto;
}
.tab-pane{
    margin-top: 10px;
}	

/*Events table*/

#events_search{
    width: 100%;
}

#events_search > tbody > tr > td {
    vertical-align: middle;
    overflow-y: hidden; 
}

#events_search > tbody > tr > td > img {
    
   
}

@media (max-width:1024px){
.td_responsive{
  
}
}

/*fights*/

.fights-row{
    background-image: url(../img/blackorchid.png);
    background-color: #1C1C1C;
    background-repeat: repeat;
    padding: 1em;
    margin-top: 0.5em;
    color: #EFEFEF;
}

.fights-row img{

}
.fights-cell{
    float: right;
}

.fights-cell h3{
    color: #6FB0D0;
}		
.fights-row .h1{
    font-variant: small-caps;
    color: #CCC;	
}

.fights-row a{
    color:#fff;
}

.fights-row a:hover{
    color:#DF6300
}
.fights-row-tittle{
    text-align: center;
    margin-bottom: 20px
}
.fights-row hr{
    width: 200px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #666666;
    margin-top: 0px;
    margin-bottom: 0px;

}
.fights-cell p{
    color: #CCC;
}			

.fights-item{
    padding: 3px;

}

/* start fights table*/

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
  
  /*end fights table*/
  


/* articles start*/

.articles-cell{
}
.img_article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.article_photo_detail{
    color: #666;
    font-style:italic;
    font-weight: bold;
}
.article_photo_credit{
    font-size: 80%;
    color: #999999;
}
.articles-cell img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}
.articles-cell p{
    text-align: justify;
}
.articles_list{
    border-right: 1px solid #e2e2e2;
}
.articles_side_list{
    
}
.side_article_title{
 font-size: 95%   
}
.article_listing {
    padding: 0.5em;
    
}
.article_listing_side{
    background-color: #f0f0f0;
    padding: 0.5em;
    border-radius:4px;
}
.article_listing_img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:auto;
    max-width:30em;
    padding:4px;
    line-height:1.428571429;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.article_listing_img_main{
    float: right;
    display: block;
    margin: 10px;
    height:auto;
    max-width:20em;
    padding:4px;
    
}
.main_article{
    overflow: hidden;
}
.article_credit{
    font-variant: small-caps; 
    color: #666666;
}
.section_header{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 90%;
}
.banner_bottom{
    margin: 0em;
    padding: 1em;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;

}
.banner_top{
    margin: 3em;
    padding: 1em;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
.side_banner img{
     padding: 0.5em;
     margin-left: auto;
     margin-right: auto;
}

.search-container{
    min-height: 870px;
}

.detail-container{
    min-height: 850px;
    
}

.panel-body{
    padding:0.5em !important;
}


/*events cover*/

.event-cover{
    overflow: hidden;
    min-height: 145px;
   
}

.event_fline{
    padding-top: 2em;
}

@media (max-width:320px){
    .event_fline{
        padding-top: 0em;
        width: 100%;
        display: block;
        clear: both;
}
}

.copyright{
    padding: 11px 0 7px;
    background-color: #1668A4;
    border-top: solid 1px #777;
    color: #fff;
}

.copyright a{
    color: #fff;
}

.copyright a:hover{
    color: #ccc;
}

a.social{
    display: inline-block;
    text-align: center;
    color: #999;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 1px;
}
a.social:hover{
    color: #FFF;
}

.logo-top a.social:hover{
    color: #1668A4;
}

.social-button{
    margin-left: 15px;
}

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {

    float: left;
    margin-right: 10px;
}

.clear{
    clear: both;
}


/* start search boxes */

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

/* end search boxes*/



/* start gallery*/

.fancybox-inner {
    
    margin-bottom: 10px !important;
}


/* end gallery*/



.attribute-detail {
    font-size: 1.5em;
    color:#0d5146
}

.fight-item {
    font-size: 1em;
}


  



.value{
    
    font-weight: bold;
font-size: 1.2em;
}
.alias {
font-style: italic;
font-size: 1.5em;
 

}
.tabs_responsive{
    font-size: 120%;
}
@media (max-width:360px){
    #myTab li {
        float: none;
  
    }
    
   #myTab  .h4{
    line-height: 1;
    display: block;
    padding: 10px 10px;
} 
 .hidden-xxs{
        display:none !important;
    }

}

@media (max-width:360px){
       #myTab  .h4{
    line-height: 1;
    display: block;
    padding: 10px 10px;
} 

    .fight_date{
    background-color: #eee;
}


}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 5px;
  margin-left: 10px;

}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #1668A4;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  
  color: #fff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #1668A4;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 0px;
  padding-top: 10px;
}

@media (max-height:360px){
    div.bhoechie-tab-content{
        font-size: 12px;
    }
   
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}   

.div_spacer{
    padding-top: 1em;
}

/* news carousel */


.carousel-bg{
    position: absolute;
    width: 105%;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -999;
   top: -40px;
   left: -40px;
}

.shadow-img{
    box-shadow: 0px 0px 15px #000;
}

#myCarousel .nav a small
{
    display: block;
     
}
.nav-justified > li > a
{
    border-radius: 0px;
}

.carousel-caption{
    background: rgba(33,33,33,0.7);
    width: 55%;
    left: 20%;
}

.carousel-caption h1 a{
    color: #82c9ff;
}

#myCarousel .carousel-nav{
    background: #1668A4;
}    

#myCarousel .carousel-nav a{
    color: #fff;
}


#myCarousel .carousel-nav .nav>li:hover, #myCarousel .carousel-nav.nav>li:focus, #myCarousel .carousel-nav .nav>li>a:hover, #myCarousel .carousel-nav.nav>li>a:focus {
    text-decoration: none;
    background-color: #428bca;
}

#myCarousel .carousel-nav .nav .active, #myCarousel .carousel-nav .nav .active:hover{
    background-color: #428bca;
}

@media (max-width: 1024px) {
    .carousel-inner{
        overflow: visible;
        
        }
        #myCarousel .carousel-inner{
            background-color: #0c0c0c;
        }
        .carousel-caption{
            width: 80%;
            left: 0%;
            right: 0%;
            padding: 0px 5px 0px 5px;
            position: relative;
        }
    
    #myCarousel h1{
        font-size: 1.5em;
    }
    .border-bottom{
        margin: 0px auto 0px auto;
        width: 50%;
        border-top-color: #4292c9;
    }
}



/* for homepage quote*/

 .timeline {
    list-style: none;
    padding: 5px 0 0px;
    position: relative;
}

    .timeline:before {
      /*  top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
     */ }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 95%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 10px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            margin-left: -25px;
            background-color: #999999;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        
        .timeline > li > .timeline-badge-right {
            margin-left: 90%
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #339bb9 !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: #666;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: 100%;
        
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
        display: none;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}   

.quote-context{
    color: #a9302a;
    
}
.quote-name{
    padding-left: 20px;
}

/* end home page quote*/




.banner-hor-right{
    
    padding:40px 20px 0px 0px;
}


/*fights row bootsnip*/

a {
    color: #1668A4;
    text-decoration: none!important;
}




/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 10px 15px;
}



/* Font changes */
.fnt-smaller {
    font-size: .9em;
    color: #bbb;
}

.p-color{
    color: #FFF
}

/* Color  */
.clr-aaa {
    color: #aaa;
}




/**** MEDIA QUERIES ****/

@media only screen and (max-width: 991px) {
    #fights-listings .property-listing {
        padding: 5px!important;
    }
    #fights-listings .property-listing a {
        margin: 0;
    }
    #fights-listings .property-listing .media-evebody {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #fights-listings .fights-listing img {
        max-width: 180px;
    }
}
   /*end media queries*/

   
.img-fighter{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 120px;
    height: auto;
    max-height: 100px;
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-versus{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 3em;
    margin-top: 2em;
}
@media (max-width: 768px) {
    .img-fighter{
        max-width: 100px;
    }
    .img-versus{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 2em; 
    }
}
@media (max-width: 768px) {
    .img-fighter{
        max-width: 80px;
    }

}


.img_vs{
    width: auto;
    
}
.fighters_cell{
    padding-left: auto;
    padding-right: auto;
    display: block;
}
.versus-cell{

    padding: 10px!important;
    margin: 0!important;
    margin-bottom: 5px!important;
    background: rgba(33,33,33,0.5);
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    border: 1px solid #055996;

}

/* for events tabs*/
.tab_tittle{
    font-size: 24px;
}

@media (max-width: 480px) {
    .tab_tittle{
    font-size: 18px;
}
}
@media (max-width: 320px) {
    .tab_tittle{
    font-size: 12px;
}
}

/* end fights row bootsnip*/

.footer_separator{
    min-height: 20px
}
.td_fixed{
    width: 40%
}
.img_entity{
    max-width: 425px;
}

.img_fight_fighter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-height: 250px;
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.img_fight_fighter:hover{
    cursor: pointer;   
    width: 160px;
    
    }    
    
.link-fight a{
    color: #666666;
    font-variant: small-caps;
    padding: 5px 10px 5px 10px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    }
    
.link-fight a:hover{
    color:#1668A4;
    background-color: #ffffff;
   box-shadow: 1px 1px 3px #888888;
   border: 1px solid;
   border-color: #ccc;
    border-bottom-right-radius: 1em;
    }
    
.link-fight-detail a{
    
    padding: 5px 10px 5px 10px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    }
    
.link-fight-detail a:hover{
    color:#ff3300;
   
   
    border-bottom-right-radius: 1em;
    }    
    
    .max-width{
        max-width: 150px;
        display: block;
    }
    
.color-dark{    
    color: #054069;
    font-weight: bold;
}
.color-light{
    color:#1668A4;
    font-weight: bold
}

.color-green-dark{    
    color: #007533;
    font-weight: bold;
}
.color-green-light{    
    color: #0EB167;
    font-weight: bold;
}
.color-green{    
    color: #009440;
    font-weight: bold;
}

.center_div{

}

.bg-color-grey{
    background-color: #eeeeee;
}

.img_event_poster{
    max-width: 250px;
}

.facebook-icon{
    width: 32px;
    height: 32px;
    background: url('../img/share_icons64x64.png') no-repeat scroll 0px 0px;
    float: left;
}
.facebook-icon:hover{
    background: url('../img/share_icons64x64.png') no-repeat scroll 0px -32px;
}
.twitter-icon{
    width: 32px;
    height: 32px;
    background: url('../img/share_icons64x64.png') no-repeat scroll -32px 0px;
    float: left;
    margin-left: 15px;
}
.twitter-icon:hover{
    background: url('../img/share_icons64x64.png') no-repeat scroll -32px -32px;
}
.icon-top{
    margin-top: 0.6em;
    margin-right: 1em;
}



.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}


.item blockquote p:before {
    content: "";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


.btn-primary{
    background-color: #1668A4;
    border-color: #3276b1;
}

.btn-primary:hover{
    background-color: #3276b1;
    border-color: #1668A4;
}

.win-label{
    color: #008000;
}

.lost-label{
    color: red;
}

.draw-label{
    color: #2B60DE;
}

.load-persons{
    display: none;
    margin-bottom: 15px;
}

/***********************************************/
.mobile-social-share {
    display: block !important;
    min-height: 70px !important;
    margin: 25px 0;
}


.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}

.share-group {
    float: right;
    margin: 18px 25px 0 0;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-google {
    background-color: #DD3F34 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}
.dropdown-menu-doni{
    min-width: 60px !important;
}
.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#socialShare {
    /*max-width:59px;*/
    margin-bottom:18px;
}

#socialShare > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }
    
    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }
    
    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }
    
    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}

.result-fight{
    text-align: center;
    padding-top: 1em !important;
}
.result-win{
    background-color: #9C9 !important;
}
.result-lost{
    background-color: #E44 !important;
}
.result-draw{
    background-color: #C6DEFF !important;
}

/* modals */
.modal-dialog{
    width: 60% ;
}

@media(max-width:1024px){
    .modal-dialog{
    width: 95% ;
}
}

.greyedout{
    color: #999999;
    margin: 0 1em 0 1em;
}
.white{
    color:#ffffff;
}



/* jquery sidr*/


/* responsive */
.menu_devices{
    color: #cccccc;
    padding: 1em 0 1em 0;
    display: block;
}
.input_menu{
    height: 3em;
}
.input_menu_date{
    height: 3em;
    color: #999999 !important;
}
.label_menu{
    display: block;
    width: 100%;
}
.button_menu{
    display: block;
    width: 100%;
    background-color: #033B64;
}
.arrow{
    margin-left: -15px;
}

/* responsive */


/* Doni side menu */

.hidden{
    display: none;
}
.unhidden{
    display: block;
}
.show-menu{
    
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (min-width:768px){
    .link-logo-mobile{
        display: none;
    }
}

/* Doni side menu */


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        /* max-width: 60px; */
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
      /*  max-width: 100px; */
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
       /* max-width: 170px; */
    }
}


/* Table Miyazaki

table#miyazaki { 
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100; 
  color: #fff;
  text-rendering: optimizeLegibility;
   
}
table#miyazaki thead{ 
  background: #1668A4;
  
}
table#miyazaki caption { 
  font-size: 2rem; color: #444;
  margin: 1rem;
  
}
table#miyazaki thead th { font-weight: 600; }
table#miyazaki thead th, table#miyazaki tbody td { 
  padding: .8rem; font-size: 1.4rem;
}
table#miyazaki tbody td { 
  padding: .8rem; font-size: 1.4rem;
  color: #444;  
}
table#miyazaki tbody tr td {
 border-top: none;
}
.table_strips tr:nth-child(odd) {
    background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
  
  table#miyazaki thead { display: none; }
  table#miyazaki tbody td { 
    display: block; padding: .6rem; 
  }
  table#miyazaki tbody tr td:first-child { 
    background: #1668A4; color: #fff; 
  }
  table#miyazaki tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 6rem;  
  }
}
*/

.record-title{
    font-size: 1.5em;
}
.record-heading{
    padding: 0.5em;
    color: #333333;
    
}

//doni paleta de colores

.color-primary-0 { color: #1669A4 }	/* Main Primary color */
.color-primary-1 { color: #5996C2 }
.color-primary-2 { color: #367CAE }
.color-primary-3 { color: #085286 }
.color-primary-4 { color: #054069 }


@media screen and (max-width: 1025px) {
    .hidden-1025{
        display:none !important;       
    }
}

.cat_menu ul{
    border-bottom: 1px solid #ccc;
    padding: 0px;
}

.cat_menu li{
    width: 100%;
    list-style-type: none;
    padding: 1em;
    border: 1px solid #ccc;
    border-bottom: none;
    border-collapse: collapse;
}

.cat_menu li:hover{
   
}

/* Real Person jQuery plugin styles v2.0.1. */
.realperson-challenge {
	display: block;
	color: #000;
}
.realperson-text {
	font-family: "Courier New",monospace !important;
	font-size: 6px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 3px;
        text-align: center;
}
.realperson-regen {
	padding-top: 4px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.realperson-disabled {
	opacity: 0.5;
	filter: Alpha(Opacity=50);
}
.realperson-disabled .realperson-regen {
	cursor: default;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #0F17B1;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #0F17B1, #0F17B1 12.5%, #1046BB 12.5%, #1046BB 25%, #1668A4 25%, #1668A4 37.5%, #10A0BB 37.5%, #10A0BB 50%, #0FB19F 50%, #0FB19F 62.5%, #10A0BB 62.5%, #10A0BB 75%, #1668A4 75%, #1668A4 87.5%, #1046BB 87.5%, #1046BB);
  background-image: -moz-linear-gradient(left, #0F17B1, #0F17B1 12.5%, #1046BB 12.5%, #1046BB 25%, #1668A4 25%, #1668A4 37.5%, #10A0BB 37.5%, #10A0BB 50%, #0FB19F 50%, #0FB19F 62.5%, #10A0BB 62.5%, #10A0BB 75%, #1668A4 75%, #1668A4 87.5%, #1046BB 87.5%, #1046BB);
  background-image: -o-linear-gradient(left, #0F17B1, #0F17B1 12.5%, #1046BB 12.5%, #1046BB 25%, #1668A4 25%, #1668A4 37.5%, #10A0BB 37.5%, #10A0BB 50%, #0FB19F 50%, #0FB19F 62.5%, #10A0BB 62.5%, #10A0BB 75%, #1668A4 75%, #1668A4 87.5%, #1046BB 87.5%, #1046BB);
  background-image: linear-gradient(to right, #0F17B1, #0F17B1 12.5%, #1046BB 12.5%, #1046BB 25%, #1668A4 25%, #1668A4 37.5%, #10A0BB 37.5%, #10A0BB 50%, #0FB19F 50%, #0FB19F 62.5%, #10A0BB 62.5%, #10A0BB 75%, #1668A4 75%, #1668A4 87.5%, #1046BB 87.5%, #1046BB);
}

.pgwSlideshow .ps-list li{
    width: 90px;
}