@media (max-width: 1024px) {
	/* CSS Responsive table */
	table.responsive,
	table.responsive thead,
	table.responsive tbody,
	table.responsive th,
	table.responsive td,
	table.responsive tr { display: block; }
	table.responsive thead tr { position: absolute; top: -9999px; left: -9999px; }
	table.responsive tr { border: 1px solid #ccc; margin-bottom: 10px; }
	table.responsive td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; min-height: 2em; font-size: 115%;}
	table.responsive td:before { position: absolute; top: 0px; left: 6px; padding-right: 10px; text-align: left; word-wrap: break-word; }
	table.responsive tr:first-child { /*position: absolute; /*top: -9999px; left: -9999px; */}
        table.responsive td:before { content: attr(data-content); font-size: 80%; color: #666666; }
	table.responsive td.small-padding { padding-top: 5px; padding-bottom: 5px; }
	table.responsive td.medium-padding { padding-top: 15px; padding-bottom: 15px; }
	table.responsive td.large-padding { padding-top: 25px; padding-bottom: 25px; }
        table.table_basic td{ padding-left: 35%;}
        table.table_basic a{ position: inherit; z-index: 999;}
        table.table_basic_generaldetails tr{border: none ;margin-bottom: 10px;}
        table.table_basic_generaldetails tr:first-child{ position: inherit;}
        table.table_basic_generaldetails a{ position: inherit; z-index: 999;}
        table.table_basic_search td{    padding: 1em !important;    border: 0px solid #D0D0D0;   border-top: 0px;}
        table.table_basic_search td{    font-size: 110%}
        table.table_basic_search td:before{    color: #777777;    font-style: italic;    font-size: 90%;    padding-bottom: 0.3em;}
        table.table_basic_search a{   position: inherit;   z-index: 999;   margin-left: 3em;}
        
        table.table_basic .weight_class { background-color: #f5f5f5; }
}

@media (min-width: 1025px) {
    
    table.table_basic{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    table.table_basic td{
       padding: 0.5em;
       border: 0px solid #D0D0D0;
       border-top: 0px;
    }
    table.table_basic th{
        background-color: #428BCA;
        color: #fff;
        border: 0px solid #D0D0D0;
        padding: 0.8em;
        font-weight: 100;
        text-align: left;
    }
    table.table_basic tr{
        padding: 5px 0px 5px 0px;  
    }
    table.table_basic tr:nth-child(odd){
        background-color: #f5f5f5;
    }
    table.table_basic .fight_date td{
        background-color: transparent;
    }

    table.table_basic_generaldetails{
    width: 100%;
    }
    table.table_basic_generaldetails td{
        padding: 0.5em;
       border-bottom: 1px solid #D9E4E6;
    }
    

