<div class="container detail-container">
    <p>
        <br>
        <a href="<?php echo $this->Html->url('/Person/'.$this->getUrlPerson->getUrl($note['Note']['identity_id'],$note['Note']['identity_name'])); ?>" class="btn btn-primary" title="<?php echo __('Return to fighter'); ?>"> Return to fighter <?php echo $note['Note']['identity_name'];?> </a>
        <hr>
        <?php echo $note['Note']['note_text'];?>
     </p>
 
 </div>
