<h3>Venue <?php echo $venue['Venue']['name'];?> linked to event <?php echo $event['Event']['name']; ?> </h3>

<a href="<?php echo $this->Html->url(array('controller' => 'Events', 'action' => 'location')) . '/' . base64_encode($event['Event']['id']);?>"><h3>Go to event <?php echo $event['Event']['name']; ?></h3></a> 