<div class="container detail-container">
    <div class="col-lg-12">
        <h1 class="page-header"><?php echo $page['Page']['title']?></h1>
        <?php echo $page['Page']['content']; ?>
    </div>
</div>
