<?php foreach ($contacts as $contact){ ?>
    <?php 
        $url = $contact['IdentityContact']['url'];
        if(substr($url,0,7) != 'http://'){
            $url = 'http://' . $url;
        }
    ?>
    <h3><?php echo $contact['IdentityContact']['type']; ?></h3>
    <div class="content"> <a href="<?php echo $contact['IdentityContact']['url']?>" target="_blank"> <?php echo $contact['IdentityContact']['url']?></a></div>
    <hr>
<?php } ?>