<?php 
    echo $this->newJsonEncode->encodearray($fights);
    /*echo "----------------" . "</br></br></br></br></br>";
    echo $this->newJsonEncode->encodearray($fighters);*/
    //echo $this->newJsonEncode->encodearray($finalArray);